.icon {
  margin-left: 5px;
  cursor: pointer;
}

.fa-2x {
  margin-left: 5px;
}

.able {
  &:hover {
    opacity: 0.7;
  }
}

.able-small {
  &:hover {
    opacity: 0.6;
  }
}

.unable {
  color: $default;
  cursor: default;
  span {
    color: $default;
    cursor: default;
  }
}

.el-dialog__header {
  padding: 10px 20px;
  height: 45px;
  background-color: $poppin-party;
  .el-dialog__title {
    color: white;
  }
  .el-dialog__headerbtn {
    top: 10px;
    .el-dialog__close {
      color: white;
    }
  }
}

.btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  &:hover {
    opacity: 0.8;
  }
  &:focus {
    box-shadow: none;
  }
}

.btn-poppin-party {
  color: white;
  background-color: $poppin-party;
  border-color: $poppin-party;
  &:hover {
    color: white;
  }
}

.btn-after-glow {
  color: white;
  background-color: $after-glow;
  border-color: $after-glow;
  &:hover {
    color: white;
  }
}

.btn-default {
  border: 1px solid #DCDFE6;
  &:hover {
    color: $default;
  }
}

.input-wrapper {
  position: relative;
  width: 100%;
  margin-right: 5%;
  i {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px;
    color: $default;
  }
  input {
    width: 100%;
    padding-left: 40px;
    letter-spacing: 1px;
  }
  input:hover, input:focus {
    border: 1px solid $rinko;
    box-shadow: 0 0 2px 1px $rinko;
  }
} 
