.oswald {
  font-family: 'Oswald', sans-serif;
  font-style: italic;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.m-plus {
  font-family: 'Roboto', 'M PLUS Rounded 1c', sans-serif;
}

.flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  align-items: center;
}
