$poppin-party:      #ff638f;
$after-glow:        #f34755;
$pastel-palettes:   #9cf1de;
$roselia:           #6670ED;
$hello-happy-world: #FFE05C;
$default:           #6a6a6a;

.btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  &:hover {
    opacity: 0.8;
  }
  &:focus {
    box-shadow: none;
  }
}

.btn-poppin-party {
  color: white;
  background-color: $poppin-party;
  border-color: $poppin-party;
  &:hover {
    color: white;
  }
}

.btn-after-glow {
  color: white;
  background-color: $after-glow;
  border-color: $after-glow;
  &:hover {
    color: white;
  }
}

.btn-default {
  border: 1px solid #DCDFE6;
  &:hover {
    color: $default;
  }
}
